html
body {
  margin: 0px;
  padding: 0px;
	/* height: 100vh;
  width: 100vw; */
  background:linear-gradient(#fceb4c, #fd9703);
}

/* body {
  height: 100vh;
  width: 100vw;
}
* {
  box-sizing: border-box;
} */

/* Nav bar styling */
.nav-bar ul li {
  display: block;
	list-style-type: none;
	text-align: center;
	padding: 10px;
	/* transform-style: rotate(270deg); */
	writing-mode: vertical-rl;
	text-orientation: sideways-right;
}

/* nav bar font */
a{
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	color: black;
}
a:hover{
	color: #4a4848;
}


/* How do i get it to start at the top of the page */
.black-box {
	display: flex;
	flex-flow: column;
	flex-wrap: nowrap;
  margin: 75px;
  padding: 15px;
	background-color: black;
	width: 350px;
	height: 900px;
}

/* Hey, hi. I'm */
h1 {
	font-size: 30px;
	color: pink;
	font-family: 'Roboto Condensed', sans-serif;
}

/* Lindsey */
h2{
	font-family: 'Chewy', cursive;
	color: green;
	font-size: larger;
}

/* Gaughan */
h3{
	font-family: 'Chewy', cursive;
	color: white;
	font-size: larger;
}



p {
	color:aliceblue
	font-family: 'Roboto Condensed', sans-serif;
}

/* need to center wihtin box and background.
was working ust fine and now it's not???
also, should i size in css or is it ok in html? */
img {
	float: right;
	height: 200px;
	width: 200px;
}




